/* Footer styles */

.container {
    margin-top: auto;
    display: flex;
    justify-content: left;
    padding: 1rem var(--content-pad);
    background-color: var(--bg-footer);
}

.list {
    list-style: none;
    gap: 1rem;
}
