/* Footer styles */

.container {
    margin-top: auto;
    display: flex;
    justify-content: left;
    padding: 2rem;
    background-color: #1300204a;
}

.list {
    list-style: none;
    gap: 1rem;
    margin: 1rem;
}
