.container {
    display: flex;
    justify-content: left;
    padding: 1rem var(--content-pad);
}

.panel {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    padding: var(--header-pad);
    /*width: 964px;*/

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50px;
    box-shadow: 0 0px 40px 3px #00000020;
    /*, inset 0 0px 30px -25px #ffffff80*/
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 0.2px solid rgba(255, 255, 255, 0.2);
}

.panel h1 {
    line-height: 0.75;
}

@media (max-width: 768px) {
    .panel h1 {
        line-height: initial;
    }
}

.starContainer {
    position: relative;
    /* top: 33px;
    left: 275px; */
    pointer-events: none;
}
