.container {
    display: flex;
    justify-content: left;
    padding: 1rem;
}

.panel {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 32px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 0.2px solid rgba(255, 255, 255, 0.26);
}

.starContainer {
    position: relative;
    /* top: 33px;
    left: 275px; */
    pointer-events: none;
}
